[Desktop Entry]
Name=Prettifier
Comment=Prettify your JSON/XML outputs
Icon=com.github.fleury08.prettifier
Exec=com.github.fleury08.prettifier
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;TextTools;
Keywords=app;vala;xml;json;pretty;
